# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\WeChatUser\WeChat Files\wxid_4x8vz940xrnb22\FileStorage\File\2022-05\OnlineSchoolShop-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
